#content{
    width:1280px;
    height:800px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    font: bold 20px Code;
    border-radius: 0;
    background: transparent;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
#day {
    width:1280px;
    height:800px;
    overflow: hidden;
    position: absolute;
    top:9px;
    margin: 0 auto;
    left:0;
    right:0;
    font: bold 20px Code;
    border-radius: 0;
    background: -moz-linear-gradient(top, #C9E3FB 0%, #529BE4 100%);
    background: -webkit-linear-gradient(top, #C9E3FB 0%, #529BE4 100%);
    z-index: 1;
}

#night {
    width:1280px;
    height:800px;
    overflow: hidden;
    position: absolute;
    top:9px;
    margin: 0 auto;
    left:0;
    right:0;
    font: bold 20px Code;
    border-radius: 0;
    background: -moz-linear-gradient(top, #1f1f3f 0%, #141f31 100%);
    background: -webkit-linear-gradient(top, #1f1f3f 0%, #141f31 100%);

}

#tabs-1 {
    overflow: hidden;
}

#temps {
    float:left;
    height:600px;
    width:540px;
    margin-top:40px;
    color:white;
    font:bold 40px Code;
    /*font-weight: bold;*/
    text-shadow: 3px 3px 8px #444;
    display: inline;
    text-align: center;
    /*border:1px solid #ffffff;*/
    position: absolute;
    left:0;
}

#out, #in, #tom {
    width:260px;
    position:relative;
    display: inline-block;
    height: 250px;
    /*border:1px solid yellow;*/
    top:0;
}

#in {
    display: block;
    margin: 0 auto
}

#outTemp, #inTemp, #tomTemp{
    font-size: 180px;
    text-align: center;
    position:relative;
    top:40px;
    width:100%;
    height:190px;
    /*border:1px solid #ffffff;*/
    overflow: hidden;
}

#outLabel, #inLabel, #tomLabel {
    font-size: 35px;
    width:100%;
    text-align: center;
    position:relative;
    top:40px;
    text-shadow: 2px 2px 4px #444;
}

#weatherIcons{
    width:800px;
    height:600px;
    position: absolute;
    right:5px;
    top:100px;
}

#moon {
    position: absolute;
    z-index:0;
}

#sun {
    width:420px;
    height:420px;
    border-radius: 100%;
    background-color: white;
    margin-left: 90px;
    margin-top: 60px;
    position: absolute;
    z-index:0;
    box-shadow: 0 0 300px yellow, 0 0 50px #ff6500, inset 0 0 100px yellow;
}

#mid {
    position: absolute;
    z-index: 5;
}

#front{
    position: absolute;
    z-index: 10;
}

#precip {
    height:300px;
    width:90%;
    position: relative;
    left:30px;
    top: 450px;
    /*border:1px solid white;*/
    overflow-y: hidden;
}

#ticker {
    position: absolute;
    width:1270px;
    bottom:5px;
    left:5px;
    z-index: 15;
}

.tickercontainer {
    width:1270px;
    height: 40px;
    background: #fff;
    overflow: hidden;
}

.tickercontainer .mask {
    position:relative;
    top:6px;
    padding: 5px;
    overflow: hidden;
}

ul.newsticker{
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
    position: relative;
    list-style-type: none;
    margin:0;
}

ul.newsticker li {
    float: left;
    margin: 0;
    padding: 0 7px;
    box-sizing:border-box;
}

#clockBox{
    width:200px;
    height:55px;
    border: 0 solid #5382cc;
    transform: skewX(-45deg);
    transform-origin: top;
    border-top-width: 2px;
    border-left-width: 2px;
    position:absolute;
    bottom:0;
    right:0;
    background-color: #c9e3fb;
    z-index: 20;
}

#clockBoxCover {
    width:200px;
    height:55px;
    position:absolute;
    bottom:0;
    right:0;
    background: #141f31;
    z-index: 20;
}

#clockBoxCoverDay {
    width:200px;
    height:55px;
    position:absolute;
    bottom:0;
    right:0;
    background: #c9e3fb;
    background: -moz-linear-gradient(left, #c9e3fb 0%, #529be4 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c9e3fb), color-stop(100%,#529be4));
    background: -webkit-linear-gradient(left, #c9e3fb 0%,#529be4 100%);
    z-index: 21;
}

#time {
    width:200px;
    height:55px;
    position:absolute;
    bottom:0;
    right:0;
    color: white;
    font:bold 45px Code;
    z-index: 22;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 3px #333;
}

#content {
    padding: 0px;
}
#content .ui-tabs-nav {
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding:0;
    height:53px;
    outline: none;
}
#content .ui-tabs-panel {
    margin: 0em 0.2em 0.2em 0.2em;
    outline: none;
}

#content .ui-state-default a {
    color:white;
    text-shadow: 1px 1px 2px #333;
    border-bottom: 0;
    font: bold 25px Code;
    background-color: #afc9e1;
    outline: none;
}


#tabList .ui-state-default{
    background-color: #afc9e1;
    outline: none;
}


#content .ui-state-default {
    border-radius:0px;
    border-color: #6c7a87;
    height:51px;
    outline: none;
}


#content .ui-state-active a {
    background: #c2ddf5;
    border: 0;
    outline: none;
}

#tabList .ui-state-default{
    background: #afc9e1;
    outline: none;
}


#tabList .ui-state-active{
    border-radius:0px;
    border-bottom: #000000 !important;
    height:51px;
    top:0;
    background: #c2ddf5;
    outline: none;
}

#popupContent {
    width:800px;
    padding:5px;
    z-index: 200;
    background-color: rgba(0,0,0,0.5);
    border:3px solid rgba(0,0,0,0.75);
    position: absolute;
    display:none;
    right:5px;
    bottom:60px;
    font: bold 45px Code;
    color: white;
    text-shadow: 2px 2px 5px #333;
}

.rssSums {
    display:none;
    z-index: 201;
}

#forecastHolder {
    width:1200px;
    height:600px;
    /*border: 1px solid white;*/
    position:absolute;
    left: 40px;
    top: 100px;
}

.days {
    width:226px;
    height:600px;
    /*border: 1px solid white;*/
    display:inline-block;
    margin-right: 8px;
}

#day5{
    margin-right: -4px;
}

.name {
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font: bold 40px Code;
    text-shadow: 2px 2px 3px #333;
}

.conds {
    width: 100%;
    height:300px;
    border: 1px solid white;
    text-align: center;
    padding-top: 0px;
}

.high {
    width:100%;
    height: 125px;
    background-color: #ffffff;
    border: 1px solid white;
    color: black;
    text-align: center;
    font: bold 80px Code;
    line-height: 125px;
    vertical-align: middle;

}

.low {
    width:100%;
    height:125px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font: bold 80px Code;
    line-height: 125px;
    vertical-align: middle;

}

#appBar {
    width:1240px;
    height:75px;
    border:1px solid black;
    position:absolute;
    left: 20px;
    font: bold 40px Code;
    color:white;
}

#appBar a {
    text-decoration: none;
    color:white;
}

#appDisplay {
    width:1240px;
    height:600px;
    margin-top: 0px;
    border: 0 solid black;
    position:absolute;
    top:150px;
    left: 20px;
    overflow-y: scroll;
}

#screenCover {
    position: absolute;
    top:0px;
    margin: 0 auto;
    left:0;
    right:0;
    width:1280px;
    height:800px;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
    display:none;
}

#test {
    color:black;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 400;
}

