@font-face {
    font-family: 'Code';
    src: url('/static/fonts/codebold-webfont.eot');
    src: url('/static/fonts/codebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/codebold-webfont.woff2') format('woff2'),
         url('/static/fonts/codebold-webfont.woff') format('woff'),
         url('/static/fonts/codebold-webfont.ttf') format('truetype'),
         url('/static/fonts/codebold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {margin: 0; padding: 0;}

body {
    margin: 0;
    overflow: hidden;
}

#content{
    width:1280px;
    height:800px;
    /*border: 1px solid black;*/
    overflow: hidden;
    position: relative;
    /*margin: 0 auto;*/
    font: bold 20px Code;
    border-radius: 0;
    background: transparent;
    z-index: 2;
    outline: none;

}

#dimmer{
    width:1280px;
    height:800px;
    /*border: 1px solid black;*/
    overflow: hidden;
    position: absolute;
    /*margin: 0 auto;*/
    font: bold 20px Code;
    border-radius: 0;
    background: black;
    z-index: 2000;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#view1, #view2, #view3, #view4, #view5, #view6 {
    display: none;
}

#day {
    width:1280px;
    height:800px;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    font: bold 20px Code;
    border-radius: 0;
    background: url(/static/images/bg/day-partlycloudy-1.jpg);
    background-size: cover;
    z-index: 1;
}

#night {
    width:1280px;
    height:800px;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    font: bold 20px Code;
    border-radius: 0;
    background: url(/static/images/bg/night-partlycloudy-1.jpg);
    background-size: cover;
}

/*  --== Temp Display ==--  */
#temps {
    float:left;
    height:695px;
    width:820px;
    /*margin-top:40px;*/
    color:white;
    font:bold 40px Code;
    /*font-weight: bold;*/
    /*text-shadow: 0 0 15px #333;*/
    display: inline;
    text-align: center;
    /*border:1px solid #ffffff;*/
    position: absolute;
    left:0;
    overflow: hidden;
}

#temps span {
    font-size: 150px;
    display: inline-block;
    vertical-align: top;
    line-height: 160px;
    /*border:1px solid #ffffff;*/
    /*margin-top:40px;*/
    text-shadow: 0 0 10px #111;
}

#outTomContainer {
    width: 100%;
    height: 346px;
    /*border:1px solid red;*/
    position: absolute;
    text-align: center;
}

#out, #in, #tom {
    width:400px;
    position:absolute;
    height: 340px;
    /*border:1px solid yellow;*/
    top:0;
}

#inContainer {
    width: 100%;
    height: 346px;
    /*border:1px solid blue;*/
    position: absolute;
    bottom: 0;
}

#in {
    left: 210px;
}

#out {
    left: 210px;
    top: 0;
}

#tom {
    right: 2px;
    display: none;
}

#outTemp, #inTemp, #tomTemp{
    font-size: 280px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    height:220px;
    width: 100%;
    /*border:1px solid #ffffff;*/
    display: inline-block;
    text-shadow: 0 0 20px #111;
    vertical-align: middle;
    line-height: 220px;
    white-space: nowrap;
}

#outLabel, #inLabel, #tomLabel {
    font-size: 45px;
    width:100%;
    text-align: center;
    position:relative;
    top:50px;
    text-shadow: 0 0 8px #111;
}

#alert {
    position: absolute;
    right: 100px;
    bottom: 100px;
    font:bold 40px Code;
    color: white;
    text-shadow:0 0 5px black, 0 -10px 25px #ff9999, 0 10px 25px #ff9999, -10px 0 25px #ff9999, 10px 0 25px #ff9999;
    cursor: pointer;
}

/*  --== Weather Slider ==--  */
#weatherSlider {
    width:600px;
    height:600px;
    position: absolute;
    right:0;
    top:100px;
    background: rgba(0,0,0,0.75);
    color: #ffffff;
    display:none;
    z-index: 25;
}

#weatherInfo {
    float:left;
    width: 385px;
    margin-left: 5px;
    line-height: 30px;
}

#cityName, #updateTime {
    width:100%;
    text-align: center;
    position: relative;
    top:5px;
}

#updateTime {
    font-size: 15px;
    height:40px;
}

#radarGif {
    float:right;
    margin-right: 5px;
}

#gif {
    width: 200px;
    height: 200px;
}

#hourlyHeader {
    width:590px;
    position:absolute;
    left:5px;
    top:275px;
    text-align: center;
}

#hourly {
    width:590px;
    height:55px;
    position:absolute;
    left:5px;
    top:300px;
}

#hourlyTable {
    width:100%;
}

#hourly tr td {
    text-align: center;
}

#hourly tr:nth-child(1) td {
    border: 0 solid white;
    border-bottom-width: 1px;
}

#hourly tr td {
    background: rgba(255,255,255,0.25);
}

#allergyDisplay {
    position: absolute;
    width:400px;
    left:100px;
    bottom:5px;
  }


#predominantPollen, #allergyHeader {
    width:100%;
    height:25px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    position: relative;
}

#graph {
    width:400px;
    height:120px;
    border:1px solid black;
    position: relative;
    background: rgba(255,255,255,0.5);
    box-shadow: inset 4px 4px 0 rgba(255,255,255,0.1);
    overflow: hidden;
}

#graph:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 370px 0 0;
    border-color: rgba(255,255,255,0.1) transparent transparent transparent;
    position:absolute;
    top:0;
    left:1px;
}

#allergyDay1, #allergyDay2, #allergyDay3, #allergyDay4{
    display:inline-block;
    width:80px;
    height:50px;
    position:absolute;
    bottom:0;
    background:red;
    left:10px;
    border-radius: 3px 3px 0 0;
}

#allergyDay1:before, #allergyDay2:before, #allergyDay3:before, #allergyDay4:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 70px 0 0;
    border-color: rgba(255,255,255,0.1) transparent transparent transparent;
    position:absolute;
    top:2px;
    left:2px;
}

#allergyDay2 {
    left:110px;
}

#allergyDay3 {
    left:210px;
}

#allergyDay4 {
    left:310px;
}

#allergyNumbers, #allergyDays {
    position: relative;
    width:100%;
    height:30px;
}

#allergyNumbers {
    height:25px;
}

.num, #allergyDays .name {
    width:80px;
    height:25px;
    color: white;
    position:absolute;
    left:10px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-size: 15px;
}

#allergyDays .name {
    line-height: 40px;
}

#allergyNumber2, #allergyDayName2.name {
    left:110px;
}

#allergyNumber3, #allergyDayName3.name {
    left:210px;
}

#allergyNumber4, #allergyDayName4.name {
    left:310px;
}

/*  --== Home Music Display ==--  */

#homeMusicDisplay {
    width:500px;
    position: absolute;
    top:125px;
    right:50px;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 3px #333;
    display: none;
}

#homeMusicDisplay .albumArt {
    position: relative;
    box-shadow: 0 0 5px #333;
    margin: 0 auto 20px;
}

/*  --== RSS Ticker ==--  */
#tickerOff {
    position: absolute;
    bottom: 0;
    right: 225px;
    z-index: 15;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #333;
    font-size: 30px;
    width: 892px;
}

#tickerOn {
    position: absolute;
    bottom: 0;
    right: 225px;
    z-index: 15;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    display: none;
    overflow: hidden;
    width: 892px;
}

#newsSource {
    position: absolute;
    bottom:0;
    left: 0;
    height: 50px;
    background: rgba(0,0,0,0.5);
    vertical-align: middle;
    line-height: 50px;
    color: white;
    text-shadow: 0 0 3px #333;
    padding: 0 5px 0 5px;
    text-align: center;
}

#ticker {
    position: absolute;
    bottom:0;
    right:0;
    z-index: 15;
    background: rgba(0,0,0,0.5);
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    padding: 0 5px 0 5px;
    text-shadow: 0 0 3px #333;
}


/*  --== Date Box ==--  */
#date{
    height:50px;
    border: 0 solid rgba(0,0,0,0.75);
    /*border-top-width: 1px;*/
    /*border-right-width: 1px;*/
    position: absolute;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    color: white;
    display: inline-block;
    width:158px;
}

#dateText {
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    /*padding: 0 10px 0 10px;*/
    text-shadow: 1px 1px 3px #333;
}


/*  --== Clock ==--  */
#clockBox{
    width:220px;
    height:50px;
    border: 0 solid rgba(0,0,0,0.75);
    /*border-top-width: 1px;*/
    /*border-left-width: 1px;*/
    position:absolute;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    margin:0;
}

#time {
    width:190px;
    height:50px;
    position:absolute;
    bottom:0;
    right:0;
    color: white;
    font:bold 45px Code;
    z-index: 22;
    line-height: 58px;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 3px #333;
}

#musicPlaying {
    position: absolute;
    bottom: 5px;
    right: 180px;
    width: 40px;
    height: 40px;
    background: url('/static/images/pandora/playing_icon.png');
    background-size: contain;
    z-index: 22;
    display: none;
}

/*  --== Popup ==--  */

#popupContent {
    padding:10px;
    z-index: 200;
    background-color: rgba(0,0,0,0.99);
    border:1px solid white;
    display:none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 670px;
    max-width: 1276px;
    min-width: 800px;
    font: bold 40px Code;
    /*text-shadow: 2px 2px 5px #333;*/
    line-height: 50px;
    text-align: justify;
}

#popupContent a {
    text-decoration: none;
    cursor: default !important;
    pointer-events: none;
    color: red;
}

.popupText {
    display:none;
    z-index: 201;
    overflow: hidden;
}

#alertDescription span {
    font: bold 30px Code;
    line-height: 25px;
}

#screenCover {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 1280px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: none;
}

.movieCover {
    width:1200px;
    height:644px;
    overflow: hidden;
    padding: 0 !important;
}

.movieName {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 30px;
    width: 1180px;
    height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255,0.25);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 2px 2px 5px #111;
}

.image {
    position: absolute;
    left: 10px;
    top: 70px;
    width:220px;
    height:270px
}

.synopsis, .trailer {
    overflow-y: auto;
    width: 950px;
    height: 564px;
    position: absolute;
    right: 10px;
    top: 70px;
    font-size: 25px;
    line-height: 30px;
}

.trailer {
    display: none;
}

.trailerSrc {
    top: 10px;
    left: 10px;
}

#alertDescription .synopsis {
    width: 1180px;
}

.rating {
    position: absolute;
    top: 350px;
    left: 10px;
    font-size: 20px;
    width:220px;
    text-align: left;
    line-height: 30px;
}

.length {
    position: absolute;
    top: 370px;
    left: 10px;
    font-size: 20px;
    text-align: left;
}

.actors{
    position: absolute;
    top: 430px;
    left: 10px;
    width: 220px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.sendToPhone {
    width: 180px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.25);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    text-shadow: 0 0 3px #222;
    z-index: 300;
    cursor: pointer;
}

#messageBox {
    width:300px;
    height:200px;
    border:1px solid white;
    background: black;
    z-index: 9000;
    display: none;
    position: absolute;
}

#okButton {
    width:100px;
    height:50px;
    border:1px solid white;
}

.closeButton {
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,.25);
    z-index: 305;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    cursor: pointer;
}


/*  --== Forecast Page ==--  */
#forecastHolder {
    width:1200px;
    height:600px;
    position:absolute;
    left: 40px;
    top: 100px;
}

.days {
    width:226px;
    height:600px;
    display:inline-block;
    margin-right: 8px;
}

#day5{
    margin-right: -4px;
}

.name {
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font: bold 40px Code;
    text-shadow: 0 0 3px #333;
}

.conds {
    width: 100%;
    height:300px;
    border: 1px solid white;
    text-align: center;
    padding-top: 0;
    border-bottom-width: 0;
    background: rgba(0,0,0,0.5);
}

.high {
    width:100%;
    height: 125px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid white;
    color: #333333;
    text-align: center;
    font: bold 80px Code;
    line-height: 125px;
    vertical-align: middle;
    border-bottom-width: 0;
    border-top-width: 0;
}

.low {
    width:100%;
    height:125px;
    border: 1px solid white;
    border-top-width: 0;
    color: white;
    text-align: center;
    font: bold 80px Code;
    line-height: 125px;
    vertical-align: middle;
    text-shadow: 0 0 7px #333;
    background: rgba(0,0,0,0.5);
}

.days.cover {
    background: transparent;
    position: absolute;
    top:0;
}

#day1cover {
    left: 1px;
}

#day2cover {
    left: 242px;
}

#day3cover {
    left: 483px;
}

#day4cover {
    left: 724px;
}

#day5cover {
    left: 965px;
}

/*  --== Music Page ==--  */
#musicContainer {
    width:1240px;
    height:684px;
    /*border:1px solid white;*/
    background: rgba(0,0,0,0.75);
    position:absolute;
    left: 20px;
    top: 55px;
    font: bold 20px Code;
    text-shadow: 0 0 8px #333;
    color: #ffffff;
    padding: 0;
}

#logo {
    width:108px;
    height: 18px;
    /*background-size: cover;*/
    background: url("/static/images/pandora/pandora-logo.png") no-repeat;
    /*border:1px solid #ffffff;*/
    position:absolute;
    left: 20px;
    top: 11px;
}

#musicControls {
    width:1202px;
    background: rgba(255,255,255,0.25);
    height:55px;
    /*border:1px solid white;*/
    position: relative;
    left:19px;
    top:40px;
    text-align: center;
}

#downButton {
    background: url(/static/images/pandora/btn_down.png) no-repeat center;
    width: 36px;
    height: 47px;
    display: inline-block;
    position: relative;
    margin-right: 40px;
}

#upButton {
    background: url(/static/images/pandora/btn_up.png) no-repeat center;
    width: 33px;
    height: 40px;
    display: inline-block;
    margin-right: 40px;
}

#playButton {
    background-image: url(/static/images/pandora/btn_play.png);
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 40px;
}

#pauseButton {
    background-image: url(/static/images/pandora/btn_pause.png);
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 40px;
}

#skipButton {
    background: url(/static/images/pandora/btn_skip.png) no-repeat center;
    width: 48px;
    height: 40px;
    display: inline-block;
}

.pause {
    background-image: url(/static/images/pandora/btn_pause.png) !important;
}

#infoContainer {
    width:1240px;
    height: 597px;
    position: absolute;
    top:87px;
}

#stationList {
    width:450px;
    height:557px;
    border: 1px solid white;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 40px;
    /*line-height: 50px;*/
    overflow-y: auto;
    text-align: center;
}

.station {
    margin-top: 10px;
    text-indent: 10px;
}

#songInfo {
    width:730px;
    height:557px;
    border: 1px solid white;
    right: 20px;
    top: 20px;
    position:absolute;
}

.albumArt {
    width:250px;
    height:250px;
    background: url('/static/images/pandora/blank.jpg');
    background-size: contain !important;
}

#songInfo .albumArt {
    position:absolute;
    left: 10px;
    top: 10px;
}

#info{
    position: absolute;
    left: 270px;
    top: 10px;
    font-size: 30px;
}
.infoTable {
    border-spacing: 10px;
}

.infoTable td:nth-child(1) {
    vertical-align: top;
}

#albumSummary {
    position: absolute;
    left: 10px;
    top: 270px;
    width: 710px;
    height: 277px;
    overflow-y: auto;
}

#buttonClick {
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 20%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%);
    color: white;
    width: 300px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: none;
}

/*  --== Entertainment Page ==--  */
#entContainer {
    width:1240px;
    height:684px;
    background: rgba(0,0,0,0.75);
    position:absolute;
    left: 20px;
    top: 55px;
    font: bold 20px Code;
    text-shadow: 0 0 8px #333;
    color: #ffffff;
    overflow: hidden;
}

#openingMovies {
    width:600px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#entContainer th:nth-child(1) {
    text-align: left;
    text-indent: 5px;
    font-size: 25px;
}

#entContainer th:nth-child(n+3) {
    font-size: 15px;
}

#openingMovies td:nth-child(1) img {
    height:50px;
}

#entContainer tr:nth-child(1) {
    background: rgba(255,255,255,0.25);
}

#openingMovies td:nth-child(n+4) {
    width: 60px;
    text-align: center;
}

#openingMovies td:nth-child(3) img{
   height:25px;
}

#localEvents {
    width:600px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#localEvents td:nth-child(3) {
    width:150px;
    text-align: center;
}

#localEvents td:nth-child(2) {
    padding-left: 15px;
}

#localEvents tr:nth-child(n+2) {
    height: 56px;
}

#localEvents th:nth-child(2) {
    font-size: 15px;
}

/*  --== Info Page ==--  */
#iCont {
    width:1240px;
    height:684px;
    background: rgba(0,0,0,0.75);
    position:absolute;
    left: 20px;
    top: 55px;
    font: bold 20px Code;
    text-shadow: 0 0 8px #333;
    color: #ffffff;
}

#jeopardyReview {
    position: relative;
    left: 5px;
    top: 10px;
    font-size: 30px;
}

#cheezReview {
    position: relative;
    left: 5px;
    top: 50px;
    width:300px;
    height:300px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*   --== App Page ==--  */

#appBar {
    width:1240px;
    height:100px;
    border:1px solid black;
    position:absolute;
    left: 20px;
    top: 55px;
    font: bold 20px Code;
    color:white;
    background: rgba(0,0,0,0.5);
    vertical-align: middle;
    line-height: 75px;
}

#appBar a {
    text-decoration: none;
    color:white;
}

#appBar img {
    height: 70px;
}

.apps {
    display: inline-block;
    line-height: 20px;
    text-align: center;
    width: 150px;
    height:95px;
    position: relative;
}

#app10 {
    float:right;
}

#appDisplay {
    width:1242px;
    height:580px;
    margin-top: 0;
    border: 0 solid black;
    position:absolute;
    top:160px;
    left: 20px;
    overflow-y: scroll;
}

#myCanvas {
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
    z-index: -10;
}

/*  --== Extras ==--  */
#jeopardyPopup, #jeopardyCover {
    width:1280px;
    height: 800px;
    background: black;
    z-index: 100;
    position: absolute;
    left:0;
    top: 0;
    /*border: 1px solid white;*/
    display: none;
}

#jeopardyCover {
    z-index: 102;
    background: transparent;
    border: none;
    left:0;
    top:0;
    display: block;
}

#jepCategory, #jepValue, #jepQuestion {
    width:250px;
    height:100px;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(68,93,255,1)), color-stop(100%,rgba(5,13,255,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(68,93,255,1) 0%,rgba(5,13,255,1) 100%);
    position: absolute;
    left: 240px;
    top: 10px;
    z-index: 101;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 30px;
    border-radius: 2px;
    text-shadow: 2px 2px 2px #000;
    display: none;
    border: 3px solid black;
}

#jepValue {
    left: 510px;
    font-size: 50px;
}

#catText {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}

#jepQuestion {
    width:800px;
    height:550px;
    left:100px;
    top:125px;
    font-size: 50px;
    padding: 10px 5px 5px;
    line-height: 60px;
    border-radius: 4px;
}

#jepAnswer {
    width:800px;
    height: 100px;
    color: white;
    position: absolute;
    left:100px;
    top: 450px;
    z-index: 101;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 60px;
    text-shadow: 2px 2px 2px #000;
    display: none;
    padding: 0 5px 0 5px;
}

#cheezImg {
    text-align: center;
    width: 100%;
    height: 100%;
}

#cheezImg:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#cheezImg img {
    display: inline-block;
    vertical-align: middle;
    max-width: 1000px;
    max-height: 700px;
    border: 4px solid white;
}

#imageLogo {
    position: absolute;
    top:0;
    left:20px;
    display: none;
}

#imageLogo img {
    width: 200px;
}

/*  --== Extras ==--  */


#test {
    color:black;
    z-index: 400;
    display: none;
}

#test2 {
    display: none;
}

/*noinspection CssInvalidPseudoSelector*/
::-webkit-scrollbar {
    width:10px;
    height:10px;
}

/*noinspection CssInvalidPseudoSelector*/
::-webkit-scrollbar-track {
    background: darkgray;
}

/*noinspection CssInvalidPseudoSelector*/
::-webkit-scrollbar-thumb {
    background: gray;
}

/*noinspection CssInvalidPseudoSelector*/
::-webkit-scrollbar-corner {
    background: darkgray;
}