<!-- suppress all -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-2.1.1.min.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/jquery.webticker.js"></script>
    <script src="/static/skycons.js"></script>
    <script src="/static/snowstorm-min.js"></script>
    <script>
        snowStorm.flakesMaxActive = 20;
        snowStorm.followMouse = false;
        snowStorm.targetElement = 'precip';
        snowStorm.vMaxX = .25;
        snowStorm.vMaxY = 6;
        snowStorm.snowStick = false;
        snowStorm.flakeWidth = 30;
        snowStorm.flakeHeight = 30;
        snowStorm.zIndex = 6;
        snowStorm.autoStart = false;
        snowStorm.stop();
    </script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script>
        $(function(){
            $("ul#ticker01").webTicker();
        });
    </script>
    <script src="/static/sse.js"></script>
<script>
function startTime() {
    var today=new Date();
    var am_pm = 'AM';
    var h=today.getHours();
    var m=today.getMinutes();
    if (h===12){am_pm = 'PM';}
    if (h>12){h-=12; am_pm = 'PM';}
    m = checkTime(m);
    document.getElementById('time').innerHTML = h+":"+m+" "+am_pm;
    var t = setTimeout(function(){startTime()},3000);
}

function checkTime(i) {
    if (i<10) {i = "0" + i}
    return i;
}
</script>

    <link href="/static/tabcontent.css" rel="stylesheet" type="text/css" />
    <script src="/static/tabcontent.js" type="text/javascript"></script>
</head>

<body onload="startTime()">
<div id="night"></div>
<div id="day"></div>

<div id="content" class="tabcontents">
    <ul id="tabList" class="tabs">
            <li ><a href="#view1">Home</a></li>
            <li ><a href="#view2">Forecast</a></li>
            <li class="selected"><a href="#view3">Music</a></li>
            <li ><a href="#view4">Entertainment</a></li>
            <li ><a href="#view5">Sports</a></li>
            <li ><a href="#view6">Apps</a></li>
         </ul>

<!--     *** Home Tab ***     -->
    <div id="view1">
    <div id="temps">
        <div id="out" onclick="$('#weatherSlider').toggle('slide', {direction: 'right'})">
            <div id="outLabel">Outside Temp</div>
            <div id="outTemp">102</div><span>°</span>
        </div>
        <div id="tom">
            <div id="tomLabel">Tomorrow</div>
            <div id="tomTemp">101</div><span>°</span>
        </div>
        <div id="in">
            <div id="inLabel">Inside Temp</div>
            <div id="inTemp">72</div><span>°</span>
        </div>
    <div id="alert"></div>
    </div>


    <!--    ** Weather Slider **    -->
    <div id="weatherSlider">
        <div id="cityName">Murray, UT</div>
        <div id="updateTime">Now</div>
        <div id="weatherInfo">

            <div id="condition">Condition: Partly Cloudy</div>
            <div id="sunriseTime">Sunrise: 7:15</div>
            <div id="sunsetTime">Sunset: 22:23</div>
            <div id="humidity">Humidity: 23%</div>
            <div id="precip">Precipitation: 0.00 in</div>
            <div id="wind">Wind: </div>
        </div>
        <div id="radarGif"><img src="/static/images/radar.gif" id="gif"></div>
        <div id="hourlyHeader">Hourly Temps</div>
        <div id="hourly" >
                <table >
                    <tr id="hourlyTimes">
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr id="hourlyTemps">
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                    </tr>
                </table>
            </div>

        <div id="allergyDisplay">
            <div id="allergyHeader">Allergy Forecast</div>
            <div id="allergyDays">
                <div id="allergyDayName1" class="name">Today</div>
                <div id="allergyDayName2" class="name">1</div>
                <div id="allergyDayName3" class="name">1</div>
                <div id="allergyDayName4" class="name">2</div>
            </div>
            <div id="graph">
                <div id="allergyDay1"></div>
                <div id="allergyDay2"></div>
                <div id="allergyDay3"></div>
                <div id="allergyDay4"></div>
            </div>
            <div id="allergyNumbers">
                <div id="allergyNumber1" class="num">1</div>
                <div id="allergyNumber2" class="num">1</div>
                <div id="allergyNumber3" class="num">1</div>
                <div id="allergyNumber4" class="num">1</div>
            </div>
            <div id="predominantPollen"></div>
        </div>
    </div>

    <!--    ** RSS Ticker **    -->
    <div id="ticker">
    <ul id="ticker01">
        {% for x in range(1,11) %}
        <li id="rss{{ x }}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>{% endfor %}

    </ul>


    </div><div id="rssSource"><div id="sourceText"></div></div>
    </div>



<!--   ** Forecast Tab **   -->
    <div id="view2">

        <div id="forecastHolder">
            {% for x in range(1,6) %}
            <div id="day{{x}}" class="days">
                <div id="day{{x}}name" class="name">Sunday</div>
                <div id="day{{x}}cond" class="conds"><canvas id="icon{{x}}" width="200" height="300"></canvas></div>
                <div id="day{{x}}high" class="high">72</div>
                <div id="day{{x}}low" class="low">68</div>
            </div>
            <div id="day{{x}}cover" class="days cover"></div>{% endfor %}
        </div>
    </div>

<!--  **  Music Tab **   -->
    <div id="view3">
        <div id="musicContainer">
            <div id="logo"></div>
            <div id="musicControls">
                <div id="downButton" onclick="musicControl('t')"></div>
                <div id="upButton" onclick="musicControl('+')"></div>
                <div id="playButton" onclick="musicControl('p')"></div>
                <div id="skipButton" onclick="musicControl('n')"></div>
                <div id="volumeButton"></div>
            </div>
            <div id="infoContainer">
                <div id="stationList"></div>
                <div id="songInfo">
                    <div id="albumArt"></div>
                    <div id="info">
                        <div id="songName"></div>
                        <div id="artistName"></div>
                        <div id="albumName"></div>
                    </div>
                    <div id="albumSummary"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#playButton').click(function(){$('#playButton').toggleClass('pause')});
        function musicControl(button){
            $('#messageBox').show(100);
            $.ajax(
            {
                type: 'post',
                url: "/music",
                data: {
                    'button': button
                }
            })
            .done(function(stations){
                for(i=0;i<stations.length;i++){
                    $('#stationList').append('<div class="station" onclick="changeStation(' + message[i][0] + ')">' + message[i][1] + '</div>');
                }
            });
        }

        function changeStation(id){
            console.log(id);
        }
    </script>

<!--  **  Entertainment Tab **   -->
    <div id="view4">
        <div id="entContainer">
            <div id="movies">
                <table id="openingMovies">
                    <tr><th height="35px" colspan="2">Movies Opening This Week</th><th> </th><th>Critic</th><th>User</th></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td><td> </td><td> </td></tr>
                </table>
            </div>
            <div id="events">
                <table id="localEvents">
                    <tr><th height="35px" colspan="2">Upcoming Events</th><th>Date</th></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                    <tr><td></td><td> </td><td> </td></tr>
                </table>
            </div>
        </div>
    </div>

<!--   ** Sports Tab **   -->
    <div id="view5">
        <div id="sportsContainer">
            <div id="scoresContainer">
                <div id="utahCover" class="scoreCover"></div>
                <div id="utah" class="teamScores">
                    <div class="matchup">
                        <div class="home">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text">Utah Utes</div>
                            </div>
                            <div class="score"></div>
                        </div>
                        <div class="away">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text"></div>
                            </div>
                            <div class="score"></div>
                        </div>
                    </div>
                    <div class="timeLocation">
                        <div class="timeText"></div>
                    </div>
                </div>
                <div id="rslCover" class="scoreCover"></div>
                <div id="rsl" class="teamScores">
                    <div class="matchup">
                        <div class="home">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text">Real Salt Lake</div>
                            </div>
                            <div class="score"></div>
                        </div>
                        <div class="away">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text"></div>
                            </div>
                            <div class="score"></div>
                        </div>
                    </div>
                    <div class="timeLocation">
                        <div class="timeText"></div>
                    </div>
                </div>
                <div id="49ersCover" class="scoreCover"></div>
                <div id="49ers" class="teamScores">
                    <div class="matchup">
                        <div class="home">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text">49ers</div>
                            </div>
                            <div class="score"></div>
                        </div>
                        <div class="away">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text"></div>
                            </div>
                            <div class="score"></div>
                        </div>
                    </div>
                    <div class="timeLocation">
                        <div class="timeText"></div>
                    </div>
                </div>
                <div id="kcCover" class="scoreCover"></div>
                <div id="kc" class="teamScores">
                    <div class="matchup">
                        <div class="home">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text">Chiefs</div>
                            </div>
                            <div class="score"></div>
                        </div>
                        <div class="away">
                            <div class="teamName">
                                <div class="logo"></div>
                                <div class="text"></div>
                            </div>
                            <div class="score"></div>
                        </div>
                    </div>
                    <div class="timeLocation">
                        <div class="timeText"></div>
                    </div>
                </div>
            </div>
            <script>
                $('#utahCover').click(function(){
                    $('#mlsStandings').hide();
                    $('#nflAFCRankings').hide();
                    $('#nflNFCRankings').hide();
                    $('#pac12Standings').toggle();
                    $('#ncaaRankings').toggle();

                });
                $('#rslCover').click(function(){
                    $('#pac12Standings').hide();
                    $('#ncaaRankings').hide();
                    $('#nflAFCRankings').hide();
                    $('#nflNFCRankings').hide();
                    $('#mlsStandings').toggle();

                });
                $('#49ersCover, #kcCover').click(function(){
                    $('#pac12Standings').hide();
                    $('#ncaaRankings').hide();
                    $('#mlsStandings').hide();
                    $('#nflAFCRankings').toggle();
                    $('#nflNFCRankings').toggle();
                });
            </script>


            <div id="sportsInfo">
                <table id="pac12Standings">
                    <tr><th height="35px"> Pac 12 North</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><td>5</td><td></td><td></td></tr>
                    <tr><td>6</td><td></td><td></td></tr>
                    <tr><th height="35px"> Pac 12 South</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><td>5</td><td></td><td></td></tr>
                    <tr><td>6</td><td></td><td></td></tr>
                </table>
                <table id="ncaaRankings">
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><td>5</td><td></td><td></td></tr>
                    <tr><td>6</td><td></td><td></td></tr>
                    <tr><td>7</td><td></td><td></td></tr>
                    <tr><td>8</td><td></td><td></td></tr>
                    <tr><td>9</td><td></td><td></td></tr>
                    <tr><td>10</td><td></td><td></td></tr>
                    <tr><td>11</td><td></td><td></td></tr>
                    <tr><td>12</td><td></td><td></td></tr>
                    <tr><td>13</td><td></td><td></td></tr>
                    <tr><td>14</td><td></td><td></td></tr>
                    <tr><td>15</td><td></td><td></td></tr>
                    <tr><td>16</td><td></td><td></td></tr>
                    <tr><td>17</td><td></td><td></td></tr>
                    <tr><td>18</td><td></td><td></td></tr>
                    <tr><td>19</td><td></td><td></td></tr>
                    <tr><td>20</td><td></td><td></td></tr>
                    <tr><td>21</td><td></td><td></td></tr>
                    <tr><td>22</td><td></td><td></td></tr>
                    <tr><td>23</td><td></td><td></td></tr>
                    <tr><td>24</td><td></td><td></td></tr>
                    <tr><td>25</td><td></td><td></td></tr>
                </table>
                <table id="mlsStandings">
                    <tr><th></th><th>MLS Standings</th><th class="smallHeader">W - D - L</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><td>5</td><td></td><td></td></tr>
                    <tr><td>6</td><td></td><td></td></tr>
                    <tr><td>7</td><td></td><td></td></tr>
                    <tr><td>8</td><td></td><td></td></tr>
                    <tr><td>9</td><td></td><td></td></tr>
                    <tr><td>10</td><td></td><td></td></tr>
                    <tr><td>11</td><td></td><td></td></tr>
                    <tr><td>12</td><td></td><td></td></tr>
                    <tr><td>13</td><td></td><td></td></tr>
                    <tr><td>14</td><td></td><td></td></tr>
                    <tr><td>15</td><td></td><td></td></tr>
                    <tr><td>16</td><td></td><td></td></tr>
                    <tr><td>17</td><td></td><td></td></tr>
                    <tr><td>18</td><td></td><td></td></tr>
                    <tr><td>19</td><td></td><td></td></tr>
                </table>
                <table id="nflNFCRankings" class="nflTables">
                    <tr><th height="35px"><img src="/static/images/nfl/NFC.png"> East</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><th height="35px"><img src="/static/images/nfl/NFC.png"> North</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><th height="35px"><img src="/static/images/nfl/NFC.png"> South</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><th height="35px"><img src="/static/images/nfl/NFC.png"> West</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                </table>
                <table id="nflAFCRankings"  class="nflTables">
                    <tr><th height="35px"><img src="/static/images/nfl/AFC.png"> East</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><th height="35px"><img src="/static/images/nfl/AFC.png"> North</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><th height="35px"><img src="/static/images/nfl/AFC.png"> South</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                    <tr><th height="35px"><img src="/static/images/nfl/AFC.png"> West</th><th class="smallHeader">Total</th><th class="smallHeader">Conf.</th></tr>
                    <tr><td>1</td><td></td><td></td></tr>
                    <tr><td>2</td><td></td><td></td></tr>
                    <tr><td>3</td><td></td><td></td></tr>
                    <tr><td>4</td><td></td><td></td></tr>
                </table>

            </div>
        </div>
    </div>
<!--   ** Apps Tab **   -->
    <div id="view6">
        <div id="appBar">
            <a href="http://192.168.1.200:4040" target="app"><div id="app1" class="apps"><img src="/static/images/subsonic.png" height="70px">Subsonic</div></a>
            <a href="http://192.168.1.200:5000" target="app"><div id="app2" class="apps"><img src="/static/images/couch.png" height="70px">CouchPotato</div></a>
            <a href="http://192.168.1.200" target="app"><div id="app3" class="apps"><img src="/static/images/unraid.png" height="70px">UnRaid</div></a>
            <a href="http://192.168.1.200:9091" target="app"><div id="app4" class="apps"><img src="/static/images/transmission.png" height="70px">Transmission</div></a>
            <a href="http://192.168.1.95:5000" target="app"><div id="app5" class="apps"><img src="/static/images/sprinkler.png" height="70px">Sprinklers</div></a>
            <a href="http://192.168.1.95:5001" target="app"><div id="app6" class="apps"><img src="/static/images/heatLights.png" height="70px">heatLights</div></a>
            <a href="about:blank" target="app"><div id="app10" class="apps"><img src="/static/images/close.png" height="70px">Close</div></a>
        </div>
        <iframe name="app" id="appDisplay"></iframe>
    </div>

    <div id="clockBox"></div>
    <div id="clockBoxCover"></div>
    <div id="time">4:22 PM</div>


<!--    ** RSS Popup **    -->
    <div id="screenCover"></div>
    <div id="popupContent">
        {% for x in range(1,11) %}
        <div id="rss{{ x }}sum" class="popupText"><div class="rssImage"></div><div class="rssText"></div></div>
        <div id="day{{ x }}description" class="popupText"></div>
        <div id="movie{{ x }}sum" class="popupText"><div class="movieName"></div><div class="image" onclick=""></div><div class="synopsis"></div><div class="rating"></div><div class="length"></div><div class="actors"></div><div class="sendToPhone">Send to phone</div></div>
        <div id="ent{{ x }}sum" class="popupText"><div class="movieName"></div><div class="image"></div><div class="synopsis"></div><div class="rating"></div><div class="length"></div><div class="sendToPhone">Send to phone</div></div>{% endfor %}
        <div id="alertDescription" class="popupText"></div>
    </div>

    <!--<div id="messageBox">Link sent to phone.<div onclick="$('#messageBox').hide(100)" id="okButton">OK</div></div>-->

    <script>
        $('.popupText div:not(.sendToPhone), #screenCover').click(function(){
            $('.popupText, #popupContent, #screenCover').css('display','none');
            $('#popupContent').removeClass('movieCover');
            $('.sendToPhone').css('background', 'rgba(255, 255, 255, 0.25)').css('pointer-events', 'auto').html('Send to phone')
        });

        function sendToPhone(name, link){
            $('#messageBox').show(100);
            $.ajax(
            {
                type: 'post',
                url: "/entertainment",
                data: {
                    'a': name,
                    'b': link
                }})}
    </script>
</div>
<div id="test">poo</div>
<div id="test2">poo</div>

</body>
</html>