<!-- suppress all -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-2.1.1.min.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/jquery.webticker.js"></script>
    <script src="/static/skycons.js"></script>
    <script src="/static/snowstorm-min.js"></script>
    <script>
        snowStorm.flakesMaxActive = 20;
        snowStorm.followMouse = false;
        snowStorm.targetElement = 'precip';
        snowStorm.vMaxX = .25;
        snowStorm.vMaxY = 6;
        snowStorm.snowStick = false;
        snowStorm.flakeWidth = 30;
        snowStorm.flakeHeight = 30;
        snowStorm.zIndex = 6;
        snowStorm.autoStart = false;
        snowStorm.stop();
    </script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script>
        $(function(){
            $("ul#ticker01").webTicker();
            $( "#content" ).tabs();
            $('#tabs .ui-tabs-nav a[href="#tabs-1"], #tabs-1').addClass('status1');
            $('#tabs .ui-tabs-nav a[href="#tabs-2"], #tabs-2').addClass('status2');
        });
    </script>
    <script src="/static/sse.js"></script>
    <!--   \/\/  Fix snow starting  \/\/-->
    <script>
        $(document).ready(function() {
//        sse = new EventSource('/my_event_source');
        sse.addEventListener('iconPrecip', function(message) {
            if (message.data == 'rain'){
                $('#outLabel').html('rain');
                $("#precip").css('visibility', 'visible');
                snowStorm.snowCharacter = "<img src='/static/images/raindrop.png'>";
                snowStorm.SnowFlake();}
            else if (message.data == 'flurries') {
                $('#outLabel').html('snow');
                $("#precip").css('visibility', 'visible');
                snowStorm.snowCharacter = "<img src='/static/images/flake.png'>";
                snowStorm.SnowFlake();}
            else {
                $('#outLabel').html('clear');
                $("#precip").css('visibility', 'hidden');
                }
    });

        });
    </script>
<script>
function startTime() {
    var today=new Date();
    var am_pm = 'AM'
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    if (h===12){am_pm = 'PM';}
    if (h>12){h-=12; am_pm = 'PM';}
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('time').innerHTML = h+":"+m+" "+am_pm;
    var t = setTimeout(function(){startTime()},3000);
}

function checkTime(i) {
    if (i<10) {i = "0" + i};
    return i;
}
</script>
</head>

<body onload="startTime()">

<div id="night"></div>
<div id="day"></div>
<div id="content">
         <ul id="tabList">
            <li><a href="#tabs-1">Home</a></li>
            <li><a href="#tabs-2">Forecast</a></li>
            <li><a href="#tabs-3">Music</a></li>
            <li><a href="#tabs-4">Sports</a></li>
            <li><a href="#tabs-5">Apps</a></li>
         </ul>
    <div id="tabs-1">
    <div id="temps">
        <div id="out">
            <div id="outLabel">Outside Temp</div>
            <div id="outTemp">102</div>
        </div>
        <div id="tom">
            <div id="tomLabel">Tomorrow</div>
            <div id="tomTemp">101</div>
        </div>
        <div id="in">
            <div id="inLabel">Inside Temp</div>
            <div id="inTemp">72</div>
        </div>
    </div>

    <div id="weatherIcons">
        <div id="back"></div>
        <div id="mid"><img src="/static/images/{{ icon[1] }}" ></div>
        <div id="front"><img src="/static/images/{{ icon[2] }}" ></div>
        <div id="precip"></div>
    </div>

    <div id="ticker">
    <ul id="ticker01">
        {% for x in range(1,11) %}
        <li onclick="$('#rss{{ x }}sum,#screenCover, #popupContent').css('display','block');" id="rss{{ x }}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>{% endfor %}

    </ul>
    </div>
    </div>


<!--      Forecast Tab      -->
    <div id="tabs-2">

        <div id="forecastHolder">
            {% for x in range(1,6) %}
            <div id="day{{x}}" class="days">
                <div id="day{{x}}name" class="name">Sunday</div>
                <div id="day{{x}}cond" class="conds"><canvas id="icon{{x}}" width="200" height="300"></canvas></div>
                <div id="day{{x}}high" class="high">72</div>
                <div id="day{{x}}low" class="low">68</div>
            </div>{% endfor %}
        </div>
    </div>

<!--      Music Tab      -->
    <div id="tabs-3">

    </div>
<!--      Sports Tab      -->
    <div id="tabs-4"></div>
<!--      Apps Tab      -->
    <div id="tabs-5">
        <div id="appBar">
            <a href="http://127.0.0.1:5000" target="app">Sprinklers</a>
            <a href="http://127.0.0.1:5001" target="app">heatLights</a>
        </div>
        <iframe name="app" id="appDisplay"></iframe>
    </div>

    <div id="clockBox"></div>
    <div id="clockBoxCover"></div>
    <div id="clockBoxCoverDay"></div>
    <div id="time">4:22 PM</div>
    <div id="screenCover"></div>
    <div id="popupContent">
        {% for x in range(1,11) %}
        <div id="rss{{ x }}sum" class="rssSums">aaaaaaa</div>{% endfor %}

    </div>

</div>

<script>
        $('#popupContent').click(function(){
            $('.rssSums, #popupContent, #screenCover').css('display','none');
        });
        $('#screenCover').click(function(){
            $('.rssSums, #popupContent, #screenCover').css('display','none');
        });
    </script>

<div id="test">poo</div>
</body>
</html>