<!-- suppress all -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="/static/jquery-2.1.1.min.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/snowstorm.js"></script>
    <script>
        snowStorm.snowColor = '#ffffff';
        snowStorm.flakesMaxActive = 96;
        snowStorm.followMouse = false;
        snowStorm.snowCharacter = "<img src='../static/images/raindrop.png'>";
        snowStorm.autoStart = true;
        snowStorm.targetElement = 'precip';
        snowStorm.vMaxX = 1;
        snowStorm.snowStick = false;
    </script>
    <!--{% if icon[2] = '' %}<script>snowStorm.autoStart = false;</script>{% endif %}-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
</head>
<body>
<div id="weatherIcons" style="background: {{ background }}">
    {% if icon[0] != '' %}<div id="back"><img src="../static/images/{{ icon[0] }}"></div>{% endif %}
    {% if icon[1] != '' %}<div id="front"><img src="../static/images/{{ icon[1] }}" ></div>{% endif %}
    <div id="precip"></div>
</div>
</body>
</html>