<!DOCTYPE html>
<html>

    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(
                    function() {
                        sse = new EventSource('/my_event_source');
                        sse.onmessage = function(message) {
                            $('#output').html(message.data);};
                        sse.addEventListener('count', function(message) {
                            $('#output2').html(message.data);}, false)

                    });

        </script>
    </head>

    <body>

        <h2>Demo</h2>

        <div id="output" style="font-size: 37px;">

        </div>

        <div id="output2" style="font-size: 37px;">
poo
        </div>

    </body>

</html>